*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    padding: 1em;
    background-color: hsla(0, 0%, 100%, 0.3);
}

h1{
    font-family: 'Anton', sans-serif;
    font-size: 4em;
}

h2{
    font-family: 'Anton', sans-serif;
    color: rgb(255, 255, 255);
}

a{
    color: hsl(300, 57%, 19%);
    text-decoration: none;
}

ul li{
    list-style: none;
    padding: 0.5em;
}

header{
    display: flex;
    justify-content: space-between;
    margin: 2em;
    padding-bottom: 1em;
    color: rgb(55, 55, 55);
    border-style: solid;
    border-bottom-width: 0.3em;
    border-color: hsla(300, 54%, 31%, 0.278);
}

footer{
    margin-top: 2em;
    padding: 1em;
    background-color: hsla(300, 29%, 61%, 0.278);
}

nav ul{
    display: flex;
    justify-content: space-around;
}

.bannerIndex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 8em;
    color: hsla(300, 54%, 31%, 0.773);
}

.bannerIndex h2{
    color: hsla(300, 54%, 31%, 0.773); 
}

.seccionesIndex{
    margin: 2em;
    height: 10em;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-column-gap: 2em;
    justify-content: space-evenly;  
    border-radius: 60%;  
}

#seccionesIndex h2{
    font-family: 'Anton', sans-serif;
    padding: 1em 1em 0.5em 1em;
    font-size: 2em;
}

#seccionesIndex h3{
    text-align: center;
    font-size: 1em;
    padding: 0em 1em 2em 1em;
}

#seccionesIndex a{
    color: rgb(255, 255, 255);
}

.adoptarIndex{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(255, 255, 255);
    background-color: rgb(94, 55, 102);
    border-radius: 2em;
}

.transitarIndex{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(255, 255, 255);
    background-color: rgb(140, 79, 152);
    border-radius: 2em;
}

.donarIndex{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(255, 255, 255);
    background-color: rgb(170, 103, 184);
    border-radius: 2em;
}

.logo img{
    width: 3em;
    height: auto;
    border-radius: 2em;
}

.entradas{
    display: flex;
    padding: 1em;
    background-color: hsla(300, 54%, 31%, 0.773);
    border-radius: 2em;
    color: rgb(255, 255, 255);
}

.entradas h2{
    padding-bottom: 1em;
}

@media screen and (min-width: 600px)
{
    body{
        padding: 0;
    }

   .bannerIndex h1{
        font-size: 2em;
    }
} 